# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
lib/
test/
CHANGELOG.md
analysis_options.yaml
pubspec.yaml
pubspec.lock
dart-sdk/
*.smt2
solver.sh
solver.py
*.txt
